[submodule "exams"]
	path = exams
	url = git@github.com:FoolyAndCooly/exams.git
[submodule "learning-cxx"]
	path = learning-cxx
	url = git@github.com:FoolyAndCooly/learning-cxx.git
[submodule "rustlings"]
	path = rustlings
	url = git@github.com:FoolyAndCooly/rustlings.git
